@font-face {
  font-family: "Roboto-Regular";
  src: url("assets/font/Roboto-Regular.ttf") format("ttf");
}

@font-face {
  font-family: "Roboto-Bold";
  src: url("assets/font/Roboto-Bold.ttf") format("ttf");
}

@media (min-width: 768px) {
  #subscribeInput {
    width: 31.25rem;
  }
  .connectUs {
    margin-left: 32rem;
  }
  .arrow {
    margin-left: 18rem;
  }
}

body {
  font-family: "Roboto-Regular", Arial, Helvetica, sans-serif;
}

header {
  height: 20%;
  padding-left: 15px;
}

#wrap1 {
  padding-right: 0;
  width: 100%;
}

#menu {
  background-color: rgba(0, 0, 0, 0);
  z-index: 9;
  top: 0;
  position: absolute;
}

#logo {
  font-family: "Roboto-Bold", Arial, Helvetica, sans-serif;
  font-weight: bolder;
  font-size: xx-large;
  text-transform: uppercase;
  display: inline;
}

#logo .allez {
  color: #FF4140;
  display: inline;
  margin-right: 0;
}

#logo .cine {
  color: white;
  display: inline;
  margin-left: -8px;
}

.nav-link {
  text-transform: uppercase;
  text-decoration: none;
  color: white;
  font-weight: bold;
  margin-left: 3px;
}

#home {
  color: #FF4140;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  background-color: rgba(0, 0, 0, 0.3);
}

#home:hover {
  background-color: rgba(0, 0, 0, 0.3);
  border: 1px solid rgba(0, 0, 0, 0.3);
}

#navbarDropdown {
  background-color: #FF4140;
  text-decoration: none;
  color: inherit;
  color: white;
}

#navbarDropdown:hover {
  text-decoration: none !important;
  border: 1px solid white;
}

.disabled {
  background-color: rgba(0, 0, 0, 0.3);
}

.disabled:hover {
  background-color: rgba(0, 0, 0, 0.3);
  border: 1px solid rgba(0, 0, 0, 0.3);
}

#contact {
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  margin-left: 5em;
  background-color: rgba(0, 0, 0, 0.3);
}

#contact:hover {
  border: 1px solid rgba(0, 0, 0, 0.3);
}

#search-bar {
  border-radius: 30px;
}

#search-bar #search-input {
  background-color: black;
  border-radius: 30px 0px 0px 30px;
  border: 2px solid black;
}

#search-bar #search-button {
  border-radius: 0px 30px 30px 0px;
  width: 40px;
  height: 40px;
  background-color: black;
  margin-left: 0;
  border-color: black;
}

#search-bar #search-button svg {
  fill: rgba(255, 255, 255, 0.5);
}

.carousel-indicators li {
  margin-right: 10px;
  margin-bottom: 25%;
  height: 5px;
}

.carousel-indicators .active {
  background-color: #FF4140;
}

#carouselExampleIndicators {
  width: 100%;
  top: 0;
  padding: 0;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  filter: alpha(opacity=60);
  -moz-opacity: 0.6;
  -khtml-opacity: 0.6;
  opacity: 0.6;
}

.overlay img {
  width: 100%;
  height: 100%;
}

#title2 {
  top: 18rem;
  position: absolute;
  text-align: center;
  color: white;
}

#title2 h2 {
  text-transform: uppercase;
  font-weight: bold;
}

#title2 h2 strong {
  color: #FF4140;
  font-weight: bold;
}

#title2 p {
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.carousel-caption {
  bottom: 40%;
  z-index: inherit;
}

.carousel-caption a {
  background-color: #FF4140 !important;
  border-color: white !important;
  text-transform: uppercase;
}

.carousel-caption a:hover {
  border-color: #FF4140 !important;
}

#loginbar {
  background-color: #FF4140;
}

#loginbar button {
  background-color: #0D0D0D;
  text-transform: uppercase;
}

aside .card-deck {
  -webkit-box-shadow: 0 0 4px #4C5155;
          box-shadow: 0 0 4px #4C5155;
}

.vertic-reseau {
  margin-left: 0;
}

.vertic-reseau ul {
  margin-left: 0;
  padding-left: 0;
}

.vertic-reseau ul li {
  list-style: none;
  margin-left: 0;
}

.vertic-reseau a {
  border-radius: 0px 30px 30px 0px;
}

.vertic-reseau .bleu-fonce {
  background-color: #3E5D94;
}

.vertic-reseau svg {
  fill: black;
  width: 24px;
  height: 24px;
  padding: 3px;
  background-color: white;
  border-radius: 50px;
}

#featuredMovies h2 {
  text-transform: uppercase;
  border-left: 5px solid #FF4140;
  font-weight: bold;
  padding-left: 0.5rem;
}

.categories ul {
  padding-left: 0;
}

.categories button {
  background-color: #FF4140;
  color: white;
  text-transform: uppercase;
}

.plusmoins button {
  background-color: #FF4140;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  height: 3rem;
}

#shopMovies h2 {
  text-transform: uppercase;
  border-left: 5px solid #FF4140;
  font-weight: bold;
  padding-left: 0.5rem;
}

.previousnext button {
  background-color: #0D0D0D;
  border: 1px solid #0D0D0D;
}

.previousnext button svg {
  fill: #FF4140;
  width: 0.5rem;
}

.details {
  background-color: #0D0D0D;
  color: white;
}

footer {
  padding-left: 15px;
  background-color: #0D0D0D;
  color: white;
  bottom: 0;
}

#subscribe {
  text-align: center;
}

#subscribe h2 {
  text-transform: uppercase;
  font-weight: bold;
  color: #FF4140;
}

#subscribe #subscribeInput {
  margin-right: 1rem;
  border-radius: 0;
  border-color: #0D0D0D;
}

#subscribe #buttonSubscribe {
  border-radius: 0;
  background-color: #FF4140;
  color: white;
  text-transform: uppercase;
  font-weight: normal;
  font-size: large;
}

.titres {
  border-bottom: 1px solid #4C5155;
}

.titres div {
  color: #4C5155;
  text-transform: uppercase;
  font-weight: bold;
  font-size: small;
}

.titres div .allez {
  color: #FF4140;
  font-size: x-large;
  font-weight: bold;
  display: inline;
}

.titres div .cine {
  color: white;
  font-size: x-large;
  font-weight: bold;
  display: inline;
  margin-left: -5px;
}

.listes {
  color: #4C5155;
  border-bottom: 1px solid #4C5155;
}

.listes ul {
  padding-left: 0;
}

.listes ul li {
  list-style: none;
}

.listes ul li a {
  text-decoration: none;
  color: #4C5155;
}

.connectUs {
  text-align: center;
}

.connectUs h3 {
  text-transform: uppercase;
}

.connectUs nav ul {
  padding-left: 0;
}

.connectUs nav ul li {
  list-style: none;
  display: inline;
  margin-right: 0.5rem;
}

.connectUs nav ul li a {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.connectUs nav ul li a svg {
  fill: white;
  width: 32px;
  height: 32px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  text-align: center;
  border: 1px solid white;
  padding: 5px;
}

.arrow a {
  color: #0D0D0D;
}

.arrow a svg {
  fill: white;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  padding: 1px;
  border: 3px solid #FF4140;
}
/*# sourceMappingURL=main.css.map */